body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
 }
 table, th, td {
  padding: 5px;
  border: 1px solid black;
 }